@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#wrapper{
    height: 95%;
}
#Box{
    height: 100%;
}
.start, .question, .result{
    height: 100%;
}

.small_logo {
    width: 20;
}
.bd-navbar {
    padding: 0;
}
.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
}
.navbar-brand {
    margin: 0;
    font-family: "Cafe24Ssurround";
}
body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Cafe24Ssurround";
}
article {
    display: flex;
    flex-direction: column;
}
.copyright-text {
    font-family: "Cafe24Ssurround";
    font-size: 12px;
    color: #7c7c7c;
}

.add {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.kakao_ad_area {
    height: 300px;
    width: 100%;
    text-align: center;
}

/* 시작화면 */
.sbc_mbti_logo {
    width: 300px;
    margin: 0 auto;
}
.question {
    display: none;
}
.main-title {
    font-size: 60px;
    color: #F28D35;
}
.sub-title {
    font-size: 24px;
    font-weight: 100;
    color: #ebebeb;
}
.updown-slash {
    width: 166px;
    margin: 0 auto;
}
.start-cover {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-start {
    font-size: 16px;
    color:#ff9300;
    background-color: #1f1f1f;
    border:#1f1f1f;
}
.btn-start, .btn-start:visited, .btn-start:hover, .btn-start:active {
    font-size: 30px;
    border-radius: 50px;
    height: 85px;
    color:#000000;
    background-color: #ff9300;
    border:#000000;
}
.btn-start:active, .btn-start:focus {
    background-color: #ff9300 !important;
    border:#1f1f1f !important;
    font-size: 30px;
    border-radius: 50px;
    height: 85px;
    color:#000000;
}

/* 문제 화면 */

.btn-answer, .btn-answer:visited, .btn-answer:hover, .btn-answer:active, .btn-answer:focus {
    position: relative;
    background-color: #ff9300;
    border:#ff9300;
    border-radius: 50px;
    width: 90%;
    height: 85px;
    margin: 0 auto;
    font-size: 17px;
    color: #000000;
}
.btn-answer:hover {
    background-color: #ffffff !important;
    border:#ff9300 !important;
    border-radius: 50px;
    width: 90%;
    height: 85px;
    margin: 0 auto;
    font-size: 17px;
    color: #ff9300;
}
.progress-bar {
    background-color: #ff9300;
    height: 20px;
    border-radius: 50px;
}
.progress {
    background-color: #ffffff;
    height: 20px;
    border-radius: 50px;
}
.slash-element {
    width: 24px;
    margin: 0 auto;
}
.question-content {
    font-size: 30px;
    color: #ff9300;
}
.rectangle {
    width: 500px;
    height: 8px;
    background-color: #383a43;
    margin: 0 auto;
}
.mid-rectangle {
    width: 288px;
    height: 1px;
    background-color: #383a43;
    margin: 0 auto;
}

/* 결과 화면 */
.result-message {
    color: #ff9300;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 100;
}
.result-developer {
    font-size: 25px;
    font-weight: bolder;
    color: #ff9300;
}
.addthis_inline_share_toolbox_ohhi {
    width: 100%;
    display: flex;
    justify-content: center;
}
.at-resp-share:element {
    margin: 0 auto;
}
.card {
    background-color: #000000;
    margin: 0 auto;
}
.border {
    border: 2px solid #ff9300 !important;
    border-radius: 20px;
}
.result-explain {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
}
.share-message {
    margin: 0 auto;
    color:#ffffff;
    font-size: 24px;
    font-weight: 100;
}
.result {
    display: none;
}
#img {
    width: 200px;
    margin: 0 auto;
}

.linkimage {
    width: 30px;
}

/* footer css */
footer {
	background-color: #1E1E1E;
    color: #545252;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding : 20px;
}

footer #sbclogo img{
    width: 80px;
    margin-right: 20px;
    margin-left: 10px;
}

#Content{
    display: flex;
    flex-direction: row;
    width: 500px;
    margin-left: 90px;
}

#footer1{
    width: 500px;
}
#footer1 h2{
    font-size: 18px;
    margin-bottom: 0;
}
#footer1 h3{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 5px;
}
#footer1 p{
    margin-top: 0;
    font-size: 10px;
    line-height: 18px;
}

#Member{
    width: 300px;
    display: flex;
    margin-left: 250px;
}

#head{
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 20px;
}
#member{
    margin: 1px;
    font-size: 10px;
    margin-left: 20px;
}

#frontMember{
    width: 100px;
    margin-right: 10px;
}
#backMember{
    width: 100px;
    margin-left: 10px;
}

#Member #backMember #king img{
    width: 15px;
    float: left;
}

@media screen and (max-height: 760px) {
    footer {
        display: none;
    }
}
@media screen and (max-width: 880px) {
    footer {
        display: none;
    }
}

#RC{
    width: 50%;
}
#LC{
    width: 50%;
}